example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-form-field{
    margin-top: 15px!important;
  }

  .align-center{
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .position-absolute{
    position: absolute;
  }

  .botao-cancelar{
    margin-left: 12px;
  }

  .botao-salvar:hover{
    background-color: rgb(61, 182, 61);
  }

  .botao-cancelar:hover{
    background-color: rgb(230, 50, 50);
  }

  .modal-title{
    line-height: 1.5;
  }

  .botao-add-aluno{
    margin-top: 10px;
    height: 39px;
  }
  