<app-cadastrar-biblioteca></app-cadastrar-biblioteca>

<table style="width: 100%; text-align: center;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id do Aluno</th>
            <th>Nome do Livro</th>
            <th>Ano de Lançamento</th>
            <th>Genero</th>
            <th>RA do Aluno</th>
        </tr>
        
    </thead>

    <tbody>
        <tr *ngFor="let biblioteca of biblioteca">
            <td>
                {{biblioteca.Id}}
            </td>
            <td>
                {{biblioteca.AlunoId}}
            </td>
            <td>
                {{biblioteca.NomeLivro}}
            </td>
            <td>
                {{biblioteca.AnoLancamento}}
            </td>
            <td>
                {{biblioteca.Genero}}
            </td>
            <td>
                {{biblioteca.RA}}
            </td>
            <td>
                <a class="pointer" type="submit" (click)="alertConfirmarDeleteBiblioteca(biblioteca.Id, biblioteca.NomeLivro)" title="Excluir"><mat-icon class="mat-delete">delete</mat-icon></a>
                <!-- <button type="submit" mat-stroked-button color="green" (click)="deletarAlunos(aluno.Id)"  style="float: center;"><mat-icon class="mat-delete">delete</mat-icon></button> -->
            </td>
        </tr>
    </tbody>
    
    
    
</table>
    
  
