
.container{
    width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative; 
}


.text-center{
    
    font-size: 30px;
    color: rgb(49, 49, 49);
}



.form-control{
    width: 400px;
    height: 38px;
    border: 0.1px solid grey;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 15px;

}


.btn-primary.btn-block{
    width: 406px;
    text-align: center;
   
    height: 35px;
    background-color: rgb(62, 181, 228);
    color: white;
    border: none;
    border-radius: 3px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    
}
.form-control:hover{
   border: 1px solid rgb(62, 181, 228);
}

.form-control:click{
    border: 1px solid rgb(62, 181, 228);
 }

 .formulario{
    text-align: center;
    display: inline-table;
  
 }

 .recaptcha{
    
    margin-bottom: 15px;
    text-align: center;
    display: inline-flex;
 }

 .img-login{
     max-width: 70px;

 }

 .mat-icon {
    margin-right: 0px !important;
    vertical-align: middle;
  }
  .form-group{
    margin-top: 25px;
    
  }

  .loading{
    margin: 0 auto;
    margin-top: 15px;
  }

  .mat-spinner{
    color: rgb(10, 134, 218)!important;
  }
 



