<ng-template #content let-modal>
   
    <div class="modal-body  align-center">
 
       <h1 class="modal-title" id="modal-basic-title">Cadastrar Disciplina
       </h1>
 
       <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="id" (keyup.enter)="getDisciplinabyID(disciplina.Id)" [(ngModel)]="disciplina.Id"
             name="id" required>
 
       </mat-form-field>
 
       <button type="submit" mat-stroked-button color="green" (click)="getDisciplinabyID(disciplina.Id)"
          style="float: center;">Pesquisar <mat-icon>search</mat-icon>
       </button>
 
       <mat-form-field class="example-full-width">
          <mat-label>Nome da Disciplina</mat-label>
          <input matInput placeholder="nome" [(ngModel)]="disciplina.NomeDisciplina" name="nome-da-disciplina" required>
 
       </mat-form-field>
 
 
       <mat-form-field class="example-full-width">
          <mat-label>Nome do Professor</mat-label>
          <input matInput placeholder="DatadeNascimento" [(ngModel)]="disciplina.NomeProfessor" name="nome-professor" required>
       </mat-form-field>
 
       <mat-form-field class="example-full-width">
          <mat-label>Ementa</mat-label>
          <input matInput placeholder="Ementa" [(ngModel)]="disciplina.Ementa" name="ementa" required>
       </mat-form-field>
 
       <mat-form-field class="example-full-width">
          <mat-label>Curso</mat-label>
          <input matInput placeholder="Curso" [(ngModel)]="disciplina.Curso" name="curso" required>
       </mat-form-field>
 
       <mat-form-field class="example-full-width">
          <mat-label>Periodo</mat-label>
          <input matInput placeholder="Periodo" [(ngModel)]="disciplina.Periodo" name="periodo" required>
       </mat-form-field>  
 
       <button class="float-none botao-salvar" type="submit" mat-stroked-button color="green" (click)="criarDisciplina()">Salvar
          <mat-icon>save</mat-icon>
       </button>
       <button class="float-none botao-cancelar" type="button" mat-stroked-button aria-label="Close" (click)="modal.dismiss('Cross click')">Cancelar
          <mat-icon>close</mat-icon>
       </button>
 
 
    </div>
 
 </ng-template>
 
 <button class="btn btn-outline-primary float-right botao-add-aluno" (click)="open(content)">
    <mat-icon>add_circle</mat-icon>
 </button>