
  
<app-cadastrar-alunos></app-cadastrar-alunos>
  

<table style="width: 100%; text-align: center;">


    <thead>
        
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>RA</th>
            <th>Curso</th>
            <th>Semestre</th>
        </tr>
        
    </thead>

    <tbody>
        
        <tr *ngFor="let aluno of alunos">
            <td>
                {{aluno.Id}}
            </td>
            <td>
                {{aluno.Nome}}
            </td>
            <td>
                {{aluno.DatadeNascimento}}
            </td>
            <td>
                {{aluno.RA}}
            </td>
            <td>
                {{aluno.Curso}}
            </td>
            <td>
                {{aluno.Semestre}}
            </td>
            <td>
                <a class="pointer" type="submit" (click)="alertConfirmarDeleteAluno(aluno.Id, aluno.Nome)" title="Excluir"><mat-icon class="mat-delete">delete</mat-icon></a>
                <!-- <button type="submit" mat-stroked-button color="green" (click)="deletarAlunos(aluno.Id)"  style="float: center;"><mat-icon class="mat-delete">delete</mat-icon></button> -->
            </td>

        </tr>
    </tbody>
    

</table>
    
  
