
<app-cadastrar-disciplina></app-cadastrar-disciplina>

<table style="width: 100%; text-align: center; ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome da Disciplina</th>
            <th>Nome do Professor</th>
            <th>Ementa</th>
            <th>Curso</th>
            <th>Periodo</th>
        </tr>
        
    </thead>

    <tbody>
        <tr *ngFor="let disciplina of disciplinas">
            <td>
                {{disciplina.Id}}
            </td>
            <td>
                {{disciplina.NomeDisciplina}}
            </td>
            <td>
                {{disciplina.NomeProfessor}}
            </td>
            <td>
                {{disciplina.Ementa}}
            </td>
            <td>
                {{disciplina.Curso}}
            </td>
            <td>
                {{disciplina.Periodo}}
            </td>
            <td>
                <a class="pointer" type="submit" (click)="alertConfirmarDeleteDisciplina(disciplina.Id, disciplina.NomeDisciplina)" title="Excluir"><mat-icon class="mat-delete">delete</mat-icon></a>
                <!-- <button type="submit" mat-stroked-button color="green" (click)="deletarAlunos(aluno.Id)"  style="float: center;"><mat-icon class="mat-delete">delete</mat-icon></button> -->
            </td>
        </tr>
    </tbody>   
    
</table>
    